.Candidate {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  width: 250px;
  opacity: 1;
}

.Candidate:hover {
  opacity: 0.8;
  cursor: pointer;
}

.sahdddd {
  box-shadow: 0px 0px 20px 14px lightyellow;
  background-color: rgb(255, 255, 255, 0.6);
}

@media only screen and (max-width: 600px) {
  .Candidate:hover {
    opacity: 1;
    cursor: pointer;
  }

  .Candidate {
    flex-basis: 0;
    flex-grow: 1;
  }
}