.CandidatesContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .CandidatesContainer {
    overflow-x: scroll;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: left;
  }
}